.search {
    padding: 12px;
    margin-top: 8px;
    border: 2px solid var(--grey, #ced4da);
    font-size: 14px;
    transition: all ease-in-out .15s;
    display: flex;
    align-items: center;
}

.search>input {
    outline: none;
    border: none;
    flex: 1;
    width: 100%;
}

.search:hover {
    border-color: var(--box-in-color, #80bdff);
    outline: none;
    box-shadow: 0 0 0 .2rem var(--box-out-color, #bfdeff);
}