.btn {
    border: none;
    outline: none;
    padding: var(--padding-super-small, 8px) var(--padding-small, 14px);
    color: white;
    font-weight: bold;
    transition: opacity ease .3s;
}

.btn:hover {
    opacity: 0.6;
}

.btnGreen {
    background-color: var(--green, #2D9E64);
}

.btnRed {
    background-color: var(--red, #dc3545);
}

.btnPrimary {
    background-color: var(--primary, #0d47a1);
}

.btnFocus {
    background-color: var(--focus, #ffaf00);
}