.select {
    padding: 12px;
    margin-top: 8px;
    border: 2px solid var(--grey, #ced4da);
    font-size: 14px;
    transition: all ease-in-out .15s;
    display: block;
}

.select:focus {
    border-color: var(--box-in-color, #80bdff);
    outline: none;
    box-shadow: 0 0 0 .2rem var(--box-out-color, #bfdeff);
}