.contact{
    display: flex;
}

.contactPart {
    background-color: var(--white, #fff);
}

.info {
    width: 60%;
}

/* Work */
.work {
    width: 40%;
    padding: var(--padding-large, 36px);
}

.define + .define{
    margin-top: var(--margin-super-small, 8px);
}

.define>i{
    color: var(--primary, #0d47a1);
    width: 24px;
}


.scripts {
    color: var(--secondary, #6c757d);
    margin-bottom: var(--margin-small, 14px);
}

.form {
    min-height: var(--min-height, 900px);
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup + .formGroup {
    margin-top: var(--margin-small, 14px);
}

.formBtn + .formBtn{
    margin-top: var(--margin-small, 14px);
}
/* Responsive */
@media only screen and (max-width: 768px) {
    .contact {
        flex-direction: column;
    }

    .work {
        padding: var(--padding-small, 14px);
    }

    .contactPart {
        width: 100%;
    }
}